<div class="container">
  <section>
    <p>
      <a href="http://rubyonrails.org">
        <img width="130" height="46" alt="Ruby on Rails" border="0" src="<%= image_path 'rails.svg' %>" />
      </a>
    </p>

    <h1>Yay! You&rsquo;re on Rails!</h1>

    <img alt="Welcome" class="welcome" src="<%= image_path 'welcome.jpg' %>" />

    <p class="version">
      <strong>Rails version:</strong> <%= Rails.version %><br />
      <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
    </p>

    <div class="hello">
      <strong>Say hello:</strong>
      <%= form_tag hello_path, remote: true do %>
        <%= text_field_tag :message, 'Hello', placeholder: 'Enter hello message' %>
        <%= submit_tag 'Send' %>
      <% end %>
      <p id="messages">
        <strong id="messages-title">Recieved hello messages (<span id="messages-sataus">not connected</span>):<br/></strong>
        <span id="messages-placeholder">No messages yet</span>
      </p>
    </div>
  </section>
</div>
